In [2]:
laptop1 = int(input('enter the price of laptop'))
laptop2 = int(input('enter the price of laptop'))
laptop3 = int(input('enter the price of laptop'))
laptop4 = int(input('enter the price of laptop'))
laptop5 = int(input('enter the price of laptop'))

enter the price of laptop20000
enter the price of laptop30000
enter the price of laptop40000
enter the price of laptop50000
enter the price of laptop60000

efficent way of write the code
loops is used to repeat certain action again and again

to make same action again and again
on a cosise way

In [5]:
for i in range(5): 
  laptop_price = int(input('enter the price of laptop'))
  # index is 012345 
  #i inste we can use j

enter the price of laptop 10000
enter the price of laptop 222222
enter the price of laptop333333
enter the price of laptop444444
enter the price of laptop5555555

In [6]:
for j in range(5): 
  laptop_price = int(input('enter the price of laptop'))
  # index is 012345 
  #i inste we can use j
  # put 7 it will run up to 7

enter the price of laptop11111
enter the price of laptop22222
enter the price of laptop33333
enter the price of laptop44444
enter the price of laptop55555

In [7]:
for j in range(7): 
  laptop_price = int(input('enter the price of laptop'))
  # index is 012345 
  #i inste we can use j
  # put 7 it will run up to 7 times

enter the price of laptop1
enter the price of laptop2
enter the price of laptop3
enter the price of laptop4
enter the price of laptop5
enter the price of laptop6
enter the price of laptop7

In [10]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

for above we can use for loop method

In [12]:
numbers = [50, 100, 150, 200]
for i in numbers:
  print(i)

50
100
150
200

While loop - useing when we not the range

In [17]:
i = 0
while i <10:
  print(i)
  i +=1 # i = i +1
  # as long as the i value is less than 10 the action will carried out up to 9

0
1
2
3
4
5
6
7
8
9

In [18]:
i = 0
while i <=10:
  print(i)
  i +=1 # i = i +1
  # as long as the i value is less than 10 the action will carried out up to 10

0
1
2
3
4
5
6
7
8
9
10

In [20]:
i = 5
while i<3:
  print(i)
  i +=1

In [ ]:
2