Functions: 

Function is a block of code that can be reused in a Program

Factorial of a Number

Factorial of a number is the product of all the positive integers less than or equal to the given number

Factorial of 5 = 5 x 4 x 3 x 2 x 1 = 120

In [20]:
number = int(input(' Enter a number to find its factorial : '))

factorial = 1

if number == 0:
  print(' The Factorial of 0 is 1')

else:
  for i in range(1, number+1):    
    factorial = factorial*i

  print('The factorial of ',number,' is',factorial)

 Enter a number to find its factorial : 4
The factorial of  4  is 24

In [21]:
# code is incorrectly working..... because indentation is mismatching
num = int(input('enter the factorial num :'))

factorial = 1

if num == 0:
  print ('The Factorial of 0 is 1')

else:
  for i in range(1, num+1):
    factorial = factorial*i

  print('the factorial of',num,'is',factorial)

enter the factorial num :2
the factorial of 2 is 2

Factoraial Function

In [ ]:
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [ ]:
print(factorial_value(5))

120

In [ ]:
print(factorial_value(10))

3628800

In [ ]:
print(factorial_value(6))

720

In [35]:
def factorial_value(num): # indentaion matters a lot
  factorial = 1
  if  num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [34]:
print(factorial_value(3))

6